

.login-form{
    width: 350px;
    height: 300px;
    margin: 20px;
    border-radius: 10px !important;
}


.login-form div{
    margin-top: 5px;
}


/* input[type="email"],
    input[type="password"]{
    border-radius: 10px;
    margin-bottom: 10px; 
 } */

input[type="email"]:focus,
input[type="password"]:focus{
    border: 1px solid black;
    box-shadow: none;
}
#login-btn{
    margin-top: 5px;
}


    /* Media Query */

