                        /* Logo */

.logo{
    height: 35px;
    padding: 0% ;
    margin: 0%;

}

/* input[type="search"]:focus{
    border: 1px solid black;
    box-shadow: none;   
} */
.logotext{
    color: #508BD6 !important;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    font-weight: bold;

}

#navbarSupportedContent{
    margin-top: 5px;
}

.containerfluidnav{
    height: 25px;
    width: 100%;
    display: flex;
}
                    /* Main Nav button */
.collapse button{
    align-items: center;
    height: 35px;
    font-size: 12px;
    font-size: 15px;
    margin-left: 10px;
}
                        /*Advance Search and Add Transaction */
#advanceSearchBtn,
#addNewTransactionBtn{
    font-size: 14px !important;
}
#navbarSupportedContent li{
    margin-top: -4px;
    font-size: 13px;
    font-weight: bolder;
}

/* .dropdown-menu li:hover{
    font-size: 17px;
    font-weight: bolder;
    background-color: #0f4ee29b;
} */

.profile img{
    margin-left: 10px;
    height: 28px;
    border-radius: 50px;
}


.secondNavtitle{
    font-size: 18px;
    text-decoration: none;
    margin: 0%;
}
                /* Search Button */
#searchBtn{
    padding: 1% 2%;
    font-weight: bold;
    font-size: 14px !important;
    height: 30px;
    width: auto;
}
            /* Search Bar  */


.navLoginSignBtn,
navLoginSignBtn{
    padding: 1px;
    width: 90px;
    height: 26px!important;
    font-size: 12px;
}

.dropdown-menu{
    right: 0!important; 
    position:left;
    margin-left: -40px;

}

