html, body{
    height: 100%;
    background-color: rgb(50, 110, 250) !important;
    /* font-family: "Roboto",sans-serif; */
}
.globalcontainer{
    height: 89vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cardtext{
    font-size: 12px;
}
#forgot-btn{
    margin-top: -10px;
    float: right;
}

.FPcontainer{
    width: 300px;
    height: 230px;
    margin: 20px;
    border-radius: 10px !important;
}
.cardtext a{
    margin: 0%;
    text-decoration: none;
}


input[type="date"]:focus,
input[type="number"]:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus{
    border: 1px solid black;
    box-shadow: none;    
}


.logo{
    display: flex;
    height: 100%;
}

.table{
    font-size: 14px;
}
th{
    color: rgb(243, 235, 235);
}

#updateBtn{
    margin-top: 5px;
    color: white;
}

.searchModal,
.addTransaction{
    width: 50vh;
}




/* ==========> form validation error icon and text */

.form-group{
    position: relative;
    margin: 0px;
}

.form-group i{
    position: absolute;
    right: 8px;
    top: 28px;
    visibility: hidden;
}
.form-group small{
    margin: 0px;
    padding: 0px;
    color: #e74c3c;
    left: 0;
    visibility: hidden;
}
.form-group.error small{
    visibility: visible;
}

.form-group.success i.fa-check-circle{
    color: #2ecc71;
    position: absolute;
    visibility: visible;
}
.form-group.error i.fa-exclamation-circle{
    color: #e74c3c;
    position: absolute;
    visibility: visible;
}


